<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCLfAs_MuU9kqrkbOCh2MoZR2KZm-8S0k</string>
	<key>GCM_SENDER_ID</key>
	<string>312359138187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pizaaapp</string>
	<key>PROJECT_ID</key>
	<string>pizza-83c0e</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-83c0e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312359138187:ios:df75c662fc7b5837b6758e</string>
</dict>
</plist>